// Define variables for your color scheme
$black: black;
$dark-purple: #302D31;
$darker-purple: #4d484f;
$purple: #9E96FF;
$light-purple: #BFBCFD;
$white-purple : #eaeaf9;
$orange: rgb(250, 201, 163);
$orange-bg: rgba(250, 201, 163, 0.4);
$light-orange: #FAF3EE;
$light-gray: #F4F4F4;
$white : white;
$blue-nice : #90a4f9;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orangeb: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
