p {
  font-size: 16px;
  margin-bottom: 0.4em;
}

.modal p {
  margin-right: 0px;
  color: $dark-purple;
  font-weight: 600;
  margin-bottom: 1em;

}

.subtitle {
  margin-bottom: 11px;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 600;
}

h6 {
  font-size: 18px;
}

.disabled {
  background-color: white;
}

.top-message-name-show {
  background-color: $dark-purple;
  color: white;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 1em;
  p {
    margin-bottom: 0em;
  }
}

.show-background {
  background-color: #4158D0;
  background: linear-gradient(324deg, $blue-nice, $orange-bg, $purple);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  padding-bottom: 2em;
}


.left-side-description {
  height: 100%;
  overflow-y: auto;
  padding: 1em;
  background-color: rgba($color: $white, $alpha: 0.45) ;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h6 {
    font-weight: 700;
  }
}


.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(55, 163, 68);
  border-radius: 50%;
  display: inline-block;
  border: 2px solid $white;
  bottom: 46px;
  right: 49px;
}

.banner-mentor-description h1 {
    font-size: 36px;
    margin-bottom: 0.3em;
}

.modal-show {
  border-radius: 10px;

}
